@charset "UTF-8";
body
{
    background-image:url(bg.jpg);
    background-size: 100%;
}

.content
{	
box-shadow: 0px 0px 30px rgba(75,125,175,.5);
}

.content:hover
{
	
	box-shadow: 0px 0px 20px rgba(100,150,200,.7);

}

.mainContent button
{
	color:#4A7CF6;
	text-shadow: 0 0 10px  #4070B0, 0 0 20px #2035A0, 0 0 30px #2035A0, 0 0 40px #2035A0;
	background-image:url(buttonbackground.jpg);
}

h1
{
	color:#4A7CF6;
}

h2
{
	font-size:175%;
	color:#4A7CF6;
	
}
h3
{
	color:#4A7CF6;
}
a
{
	color:#5A8CFF;	
}
