@charset "UTF-8";
body
{
	font-family:Arial; 
	font-size:110%;
	color:#bbb;
	
}
.content
{
	padding:1.5em;
	margin:3%;
	width:90%;
	border-style:solid;
	border-color:#777;
	border-width:5px;
	background-color:rgba(100,100,100,0.8);
	border-radius: 15px;
	transition:2s;
}

.content:hover
{
	background-color:rgba(100,100,100,0.9);
	border-color:#999;

}

.descriptor button
{	
	height:80%;
}
.descriptor p
{
	transition:.5s;
	opacity:0.0;
	font-size:0%;
}

.descriptor button:hover + p
{
	transition:.7s;
	opacity:1;
	font-size:100%;
}
	
.img-descriptor 
{
	display:inline-block;
	width: 300px;
	height: 500px;
		
	
}

.img-descriptor img
{	
	width: 300px;
	height: 400px;
	opacity:.8;
	transition:.7s;
}

.img-descriptor img:hover
{
	opacity:1;
	transition:.7s;
}
.img-descriptor p
{
	transition:.7s;
	opacity:0.0;
	font-size:0%;
}

.img-descriptor img:hover + p
{
	transition:.7s;
	opacity:1;
	font-size:75%;
}	

.header
{
	width:100%;
	text-align:center;
}

.title
{
	padding-top:0.6em;
	
	font-size:170%;
}

.navBar
{
	padding-bottom:1%;
}

.navBar button
{
	border-style:solid;
	border-color:dimgrey;
	border-width:3px;
	
	background-color:gray;
	height:50px;
	width:22.5%;
	opacity:0.7;
	font-size:110%;
	transition:1s;
	margin:-2.22px;
	margin-bottom:.5em;
	color:white;
	
}

.navBar button:hover
{
	background-color:lightgray;
	opacity:1;
	font-size:130%;
	color:dimgrey;
	
}

.navBar .selected
{
	background-color:dimgrey;
	font-color:black;
	opaciy:.9;
}
.body
{
	padding:3%;
	
}

.mainContent
{

	padding:1%;
	
	
}

.AFLdocs
{
	padding:5%;
	width:60%;
	padding-top:4em;
	font-size:115%;
}

.AFLdocs hr
{
	width:100%;
	margin-top:-1em;
	margin-bottom:2em;
}

.AFLdocs h3
{
	margin-top:2em;
}

.AFLdocs .code
{
	width:95%;
	padding-left:3%;
	margin-top:.5em;
	margin-bottom:.5em;
	background-color: rgba(76, 76, 76, 0.5);
	
	border-style:solid;
	border-width:.2em;
	border-color: #aaa;
	border-radius: 15px;	
	
	font-family: 'Courier New', monospace;
	font-size:90%;
	font-weight:bold;
	white-space: pre-wrap;
	
}

ul
{
	padding-bottom:1em;
}

.mainContent button
{
	width:100%;
	height:250px;
	background-size:16em;
	font-size:400%;
	filter:brightness(60%);
	transition:1s;
	margin-bottom: 3%;
	border-style:solid;
	border-color:white;

}

.mainContent button:hover
{
	filter:brightness(100%);
	font-size:500%;
	
	border-color:#ccc;
}
	

.sidebar
{
	width:100%;
	padding:3%;
	background-color: rgba(76, 76, 76, 0.3);
	padding-left:1.5em;
	border-style:solid;
	padding-top:.6em;
	border-radius: 15px;	
	
}

.sidebar h3
{
	
	margin-bottom:-5px;
}

.sidebar hr
{
	width:105%;
}
.footer
{
	text-align: center;
	padding-bottom: .5em;
}
hr
{
  display:block;
  height:3px;
  background:#ccc;
  width:95%;
  border-style:none;
}


h4
{
		margin-bottom:-.5em;
		font-size:105%;
}

li
{
	margin-bottom:.4em;
}
.mainContent img
{
	
	margin:0em;

}
