p{ color:white;  font-size:130%;font-family:Arial;}

h1{ color:white; font-size:400%; font-family:Arial; white-space: nowrap;}

h2{ color:white; font-size:300%; font-family:Arial; white-space: nowrap;}

h3{ color:white; font-size:130%; font-family:Arial; font-weight:bold; white-space: nowrap;}

.red{
	color:red;
}

.purchaseFailed{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.25s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}





em {font-weight:bold; font-style:normal; }
* {
	margin: 0;
	padding: 0;
	user-select: none;
}
body > div 
{
	box-shadow:0px 0px 1em rgba(0,0,0,.7);
}
body{background-color:rgb(197,61,61);}
.inline{width: 16px;}
.listDark{backdrop-filter:brightness(95%); padding-top:20px; padding-bottom:20px;}
.listBright{backdrop-filter:brightness(110%); padding-top:20px; padding-bottom:20px;}
.goldBar
{
	position:absolute;
	top:282px;
	left:20px;
	height:50px;
	width:500px;
	border: 10px solid;
	background:#999;
	border-color:#cfa110;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.7); 
}

.goldFilling
{
	background:#ffc130;
	width:0%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
}

.prospectButton
{
	position:absolute; 
	background-size: 100% 100%; 
	filter:brightness(95%); 
	transition:.4s; 
	box-shadow: 0px 0px 20px rgba(0,0,0,0.7); 
}
.prospectButton:hover{filter:brightness(105%);transition:.1s;}
.prospectButton:active
{
	filter:brightness(85%); 
	transition:.1s; 
	box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}

.panelButton
{
	position:absolute; 
	width: 185px;
	height:75px; 
	background-image:url('Assets/Gui/button.png');
	font-size:75%;
	background-size: 100% 100%; 
	z-index:0;
	filter:brightness(105%); 
	transition:.4s; 
	box-shadow: 0px 0px 20px rgba(0,0,0,0.7); 
 }
.panelButton:hover{filter:brightness(115%);transition:.1s;}
.panelButton:active
{
	filter:brightness(95%); 
	background-image:url('Assets/Gui/buttonOn.png');
	transition:.1s; 
	box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}


.panelContent
{
  position:absolute;
  top:130px;
  left:40px;
  width:700px;
  font-size:125%;
  text-align:center; 
}

.closeButton
{
	position:absolute;
	width:75px;
	left:650px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
	transition:.05s;
}

.closeButton:hover
{
	filter:brightness(110%); 
}

.closeButton:active
{
	filter:brightness(90%); 
	box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}
.frostedGlass
{
	position:absolute;
	box-shadow:0px 0px 20px rgba(0,0,0,.5);
	backdrop-filter: blur(1.5px) brightness(90%);
}
.header
{
	position:absolute; 
	width:376px;
	height:105px; 
	background-image:url('Assets/Gui/header.png');
	background-size: 100% 100%;
	text-align:center; 
	filter:brightness(105%); 

}

.smallHeader
{
	box-shadow: inset 0 0 10px rgba(0,0,0,.2);
	position:absolute; 
	width:275px; 
	height:75px; 
	background-image:url('Assets/Gui/header.png');
	background-size: 100% 100%;
	text-align:center; 
	filter:brightness(105%); 

}


.header h2 
{
	position: absolute;  
	left: 50%; 
	top:50%; 
	transform: translate(-50%, -50%);
}

.smallHeader h2 
{
	position: absolute;  
	left: 50%; 
	top:50%; 
	transform: translate(-50%, -50%);
}
.panelButton h2 
{
	position: absolute;  
	left: 50%; 
	top:50%; 
	transform: translate(-50%, -50%);
}

.horBar
{
	position:absolute; 
	width:376px; 
	height:45px; 
	
	background-size: 100% 100%;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.7);
}

.button
{
	position:absolute; 
	width: 375px;
	height:150px; 
	background-image:url('Assets/Gui/button.png');
	background-size: 100% 100%; 
	z-index:0;
	filter:brightness(400%); 
	transition:.4s; 
	box-shadow: 0px 0px 20px rgba(0,0,0,0.7); 
 }
.button:hover{filter:brightness(115%);transition:.1s;}
.button:active
{
	filter:brightness(95%); 
	background-image:url('Assets/Gui/buttonOn.png');
	transition:.1s; 
	box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}
.unlocked
{
	filter:brightness(95%); 
	transition:1s;
}

.buttonContent{position:absolute; height:100%; width:100%; padding-top:22px; padding-left:25px; width:240px; line-height:100%;}
.buttonContent p{ font-size:93%; line-height:130%;}
.sidePanel
{
	position:absolute; 
	width:375px; 
	height:800px; 
	background-image:url('Assets/Gui/menu.png');
	background-size: 100% 100%;
	z-index:-1;
	padding-top:25px;
}
.vertbar{position:absolute; height:900px; box-shadow: 0px 0px 20px rgba(0,0,0,0.7);}
.icon{position:absolute; width:110px; left:241px;top:21px;filter:brightness(90%); transition:.5s;}
.lit{filter:brightness(115%);}
.hidden{display:none;}

.panelBar
{
	position:absolute;
	width:770px;
	background-size:100% 100%;
	z-index:-1;
	left:415px;
	; box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

.upperPanelBar
{
	top:199px;
	
}

.lowerPanelBar
{
	top: 750px;
}

.panelBackground
{
	position:absolute;
	width:730px;
	height:480px;
	background-size:100% 100%;
	z-index:-2;
	left:415px;
	top:230px;
	filter:brightness(110%);
	background-image:url('Assets/Gui/panelBack.png');
	padding:30px;
}