.mainContainer
{
	display:flex;
	
}

.leftSidebar
{
	background:#dd1111;
	width:20%;
	text-align:center;
	color:#e0e0e0;
}

.body 
{
	
	text-align:center;
	width:60%;

}

.rightSidebar
{
	background:#dd1111;
	width:20%;
	text-align:center;
	color:#e0e0e0;
	
}

.leftSidebar p
{
	text-align:left;
	margin-top:0%;
	margin-bottom:1%;
	margin-left:5%;
}
.rightSidebar p
{
	text-align:left;
	margin-top:0%;
	margin-bottom:1%;
	margin-left:5%;
}

.upgradeOff
{
	display:block;
	padding:3%;
	background:#aa1111;
}
.upgradeOn
{
	display:block;
	padding:3%;
	background:#dd1111;
	
}
.upgradeLocked
{
	display:none;
}
.progressBar
{
	border: 5px solid;
	margin-left:10%;
	margin-top:5%;
	height:10px;
	width:80%;
	background:#888;
	
	
}

.progress
{
	background:#11bb11;
	height:10px;
	width:0%;
	transition:.25s;
}
.body button 
{
	border-style:none;
	background:#d0bb22;
	height:200px;
	width:200px;
	color:white;
	font-size:90%;
	margin:12%;
	transition: .2s;
	border-radius: 100%;
		
}

.body button:hover
{
	background:#f0dd05;
}

.body button:active
{
	margin-top:13.5%;
	width:180px;
	height:180px;
	
}

.body button:focus
{
	
	outline:0;
}

body
{
	
	font-family:arial;
	
}


hr
{
	display:block;
	height:1%;
	background:white;
	border:none;
	margin:0px;
}
