body
{
    background-image:url(bg.jpg);
    background-size: 100%;
}
.bodyGradient
{
	display:flex;
	background:radial-gradient(ellipse at top, rgba(255,100,0,.35), rgba(0,0,0,.7));

	position: absolute;
    top: 0;
    left: 0;
}
.content
{	
 box-shadow: 0px 0px 30px rgba(175,125,75,.5);
}

.content:hover
{
	
	box-shadow: 0px 0px 50px rgba(175,125,75,.7);

}

.mainContent button
{
	color:#d1604b;
	text-shadow: 4px 4px 1px #664010;
	background-image:url(bg.jpg);
}

h1
{
	color:#d1604b;
}

h2
{
	color:#d1604b;
	
}
h3
{
	color:#d1604b;
}
a
{
	color:#FF8C5A;	
}*/